body {
    margin: 0;
    height: 100%;
}

.header {
    padding         : 15px 0px;
    background-color: #ffffff;
}

.header-content {
    flex-direction : row;
    align-items    : center;
    display        : flex;
    border         : 0px solid green;
    justify-content: center;
}

.logo-content {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    border        : 0px solid green;
    width         : 80%;
    cursor        : pointer;
}

.logo-content img {
    border: solid 0px lightslategrey;
}

.emp-text {
    font          : normal normal bold 20px/25px Montserrat;
    font-family   : "Montserrat", sans-serif;
    letter-spacing: 0px;
    color         : #82a70c;
    text-transform: capitalize;
}

.emp-payroll {
    color: lightsteelblue;
}

* {
    box-sizing: border-box;
}

.form-content {
    min-height      : calc(100%-80px);
    background-color: #f7f7f7;
    display         : flex;
    justify-content : center;
    align-items     : center;
    border          : 0px solid green;
    padding-top     : 20px;
    padding-bottom  : 20px;
}

.form {
    width        : 65%;
    padding      : 44px 60px;
    background   : #ffffff 0% 0% no-repeat padding-box;
    box-shadow   : 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity      : 1;
}

.form-head {
    font          : normal normal bold 20px/37px Roboto;
    letter-spacing: 0px;
    color         : lightsteelblue;
    text-transform: capitalize;
    opacity       : 1;
    padding-bottom: 20px;
}

.row-content {
    display       : flex;
    flex-direction: row;
    margin-bottom : 8px;
    align-items   : center;
    border        : 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size  : 16px;
    color      : grey;
    opacity    : 1;
    font-family: Roboto;
}

.input {
    width        : 100%;
    padding      : 12px;
    border       : 1px solid;
    border-radius: 5px;
     /*resize       : vertical;*/
}

.profile-radio-content {
    display       : flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-radio-content > label {
    display       : flex;
    flex-direction: row;
    align-items   : center;
}

.prfile {
    width        : 40px;
    border-radius: 50%;
    margin-left  : 8px;
}