body {
    margin: 0;
    height: 100%;
}

.header {
    padding         : 15px 0px;
    background-color: #ffffff;
}

.header-content {
    flex-direction : row;
    align-items    : center;
    display        : flex;
    border         : 0px solid green;
    justify-content: center;
}

.logo-content {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    border        : 0px solid green;
    width         : 80%;
    cursor        : pointer;
}

.logo-content img {
    border: solid 0px lightslategrey;
}

.emp-text {
    font          : normal normal bold 20px/25px Montserrat;
    font-family   : "Montserrat", sans-serif;
    letter-spacing: 0px;
    color         : #82a70c;
    text-transform: capitalize;
}

.emp-payroll {
    color: lightsteelblue;
}

* {
    box-sizing: border-box;
}

.form-content {
    min-height      : calc(100%-80px);
    background-color: #f7f7f7;
    display         : flex;
    justify-content : center;
    align-items     : center;
    border          : 0px solid green;
    padding-top     : 20px;
    padding-bottom  : 20px;
}

.form {
    width        : 65%;
    padding      : 44px 60px;
    background   : #ffffff 0% 0% no-repeat padding-box;
    box-shadow   : 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity      : 1;
}

.form-head {
    font          : normal normal bold 20px/37px Roboto;
    letter-spacing: 0px;
    color         : lightsteelblue;
    text-transform: capitalize;
    opacity       : 1;
    padding-bottom: 20px;
}

.row-content {
    display       : flex;
    flex-direction: row;
    margin-bottom : 8px;
    align-items   : center;
    border        : 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size  : 16px;
    color      : grey;
    opacity    : 1;
    font-family: Roboto;
}

.input {
    width          : 100%;
    padding        : 12px;
    border         : 1px solid;
    border-radius  : 5px;
    /*resize       : vertical;*/
}

.profile-radio-content {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
}

.prfile {
    width        : 40px;
    border-radius: 50%;
    margin-left  : 8px;
    margin-right : 30px;
}

.profile-radio-content>label {
    display       : flex;
    flex-direction: row;
    align-items   : center;
}

/*Day month year option*/
select {
    padding         : 12px;
    border          : 1px solid #ccc;
    border-radius   : 4px;
    resize          : vertical;
    font            : normal normal normal 16px Roboto;
    letter-spacing  : 0px;
    color           : #42515f;
    background-color: transparent;
}

/*Button*/
.buttonParent {
    display        : flex;
    margin-bottom  : 10px;
    justify-content: space-between;
    margin-top     : 20px;
}

.button {
    font-size       : 20px;
    font-family     : Roboto;
    letter-spacing  : 0px;
    color           : #42515f;
    opacity         : 1;
    background      : transparent;
    font-weight     : 400;
    min-width       : 140px;
    padding         : 7px 7px;
    border          : 1px solid #707070;
    cursor          : pointer;
    border-radius   : 5px;
    background-color: #f5f5f5;
}

.submitButton {
    margin-right: 30px;
}

.cancelButton {
    text-decoration: none;
    text-align     : center;
}


@media only screen and (max-width: 600%) {
    .form {
        margin-left: 10px;
    }

    .submit-reset {
        width          : 100%;
        display        : flex;
        flex-grow      : 1;
        flex-direction : row-reverse;
        justify-content: space-between;
        margin-bottom  : 20px;
    }

    .submitButton {
        margin: 0;
    }

    .buttonParent {
        flex-direction: column-reverse;
        align-items   : flex-start;
    }
}

@media only screen and (max-width: 960px) {
    .cancelButton {
        margin-left: 0px;
    }

    .form {
        width  : 80%;
        padding: 44px 20px;
    }

    .prfile-lable {
        margin-right: 0px;
    }
}

a.button:hover {
    background-color: gray;
    color           : white;
}

.submitButton:hover {
    background-color: green;
    color           : white;

}

.resetButton:hover {
    background-color: gray;
    color           : white;
}
.department {
    margin-left: 30px;
}

@media only screen and (max-width: 320px) {
    .label {
        min-width: 50px;
    }
}

.profile-label {
    margin-right: 20px;
}

.text-error {
    margin-left: 10px;
    font-size  : 12px;
    font-style : italic;
    color      : red;
}